<html>

  <head>
    <title>Angular 2 QuickStart</title>

    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">

    <!-- 1. Load libraries -->
    <script src="build/dependencies.js"></script>

    <link href="build/styles/bootstrap.min.css" rel="stylesheet">
    <link href="build/styles/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="build/styles/datatables.min.css" rel="stylesheet">
    <link href="build/styles/animate.css" rel="stylesheet">
    <link href="build/styles/style.css" rel="stylesheet">
    <link href="build/styles/sweetalert.css" rel="stylesheet">

    <script type="text/javascript">
        var usabiliticsSettings = {
            appId: 'a949ba70-2ad9-11e6-96d0-6db8534e1a47',
            visitedTimestamp: Date.now()
        };
        (function() {
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = 'https://s3-us-west-1.amazonaws.com/test-bot-tracker/test-bot-tracker.local.js';
            document.getElementsByTagName('head')[0].appendChild(s);
        })();
    </script>
  </head>

  <body>
    <base href="/">

    {{{body}}}

    <script src="build/styles/js/inspinia.js"></script>
    <script src="build/styles/js/jquery.slimscroll.min.js"></script>
    <script src="build/styles/js/jquery.metisMenu.js"></script>
    <script src="build/styles/js/datatables.min.js"></script>
  </body>

</html>