<div>
  <ol class="breadcrumb">
      <li *ngFor="let part of parts; let last = last" [ngClass]="{'active': last}"> <!-- disable link of last item -->
          <a *ngIf="!last" (click)="navigateTo(part)">{{part.displayName}}</a>
          <strong *ngIf="last">{{part.displayName}}</strong>
      </li>
  </ol>
</div>