<nav class="navbar-default navbar-static-side" role="navigation" style="top: 0">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header" style="padding-top: 20px">
                <div class="profile-element">
                    <h1 style="color: white; margin-top: 0"><a href="/">Usabilitics</a></h1>
                    <h2 style="color: white">{{app?.name}}</h2>
                    <a [href]="app?.url">{{app?.url}}</a>
                </div>
                <div class="logo-element" style="padding-top: 0">
                    <a [routerLink]="['AllApps']">Ua</a>
                </div>
            </li>
            <li [ngClass]="{active: location.path().indexOf('suites') >= 0 }">
                <a [routerLink]="['Suites']"><i class="fa fa-list"></i> <span class="nav-label">Scenarios</span></a>
            </li>
            <li [ngClass]="{active: location.path().indexOf('test-results') >= 0 }">
                <a [routerLink]="['TestResults']"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Test results</span></a>
            </li>
            <li [ngClass]="{active: location.path().indexOf('test-data') >= 0 }">
                <a [routerLink]="['TestData', {appId: app?.id}]"><i class="fa fa-database"></i> <span class="nav-label">Test data</span></a>
            </li>
            <li [ngClass]="{active: location.path().indexOf('settings') >= 0 }">
                <a [routerLink]="['Settings', {appId: app?.id}]"><i class="fa fa-gear"></i> <span class="nav-label">Settings</span></a>
            </li>
        </ul>
    </div>
</nav>