@import "inspinia/style.less";

.failed {
    color: red;
}

.passed {
    color: green;
}

.failed-icon {
    position:relative;
}    
.failed-icon:before {
    content: "\f111";
    font-family: FontAwesome;
    left:-5px;
    top:0;
    color: red;
 }

.passed-icon {
    position:relative;
}    
.passed-icon:before {
    content: "\f111";
    font-family: FontAwesome;
    left:-5px;
    top:0;
    color: green;
 }

.ua-diff-view {
    overflow-x: scroll;
}
.ua-diff-view pre {
    background-color: white;
}
.diff-html-removed pre {
     background-color: #fee8e9;
 }

.diff-html-added pre {
     background-color: #dfd;
 }
.diff-html-changed pre {
    background-color: #FFE4B5;
    cursor: pointer;
}
.diff {
    width:100%;
}
.diff pre {
     margin: 0;
     padding: 0;
     border: 0;
     width: 100%;
     overflow: visible;
     border-radius: 0;
 }