<div id="wrapper">
    <my-app>Loading...</my-app>
</div>

<script src="build/app.js"></script>

<script src="build/scripts/systemjs.config.js"></script>

<!-- Configure SystemJS -->
<script>
  System.import('boot')
        .then(null, console.error.bind(console));

  var appConfig = {
      apiServerUrl: "{{{apiServerUrl}}}",
      accountId: "{{accountId}}",
      accessToken: "{{accessToken}}"
  };
</script>