<login-app>Loading...</login-app>

<style>
    body {
        background-color: #f3f3f4
    }
</style>

<script src="build/scripts/systemjs.config.js"></script>

<script src="build/app.js"></script>

<!-- Configure SystemJS -->
<script>
  System.import('login/boot')
        .then(null, console.error.bind(console));

  var appConfig = {
      apiServerUrl: "{{{apiServerUrl}}}",
      accountId: "{{accountId}}"
  };
</script>