<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <h1 class="m-l-sm m-t-sm m-b-none pull-left">Usabilitics</h1>
    </div>

    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary btn-xs pull-left" style="margin-left: 80px">
        <i class="fa fa-bars"></i>
    </a>

    <ul class="nav navbar-top-links navbar-right">
        <li>
            <!-- <div class="profile-element">
                <span>
                    <img alt="image" class="img-circle" src="img/profile_small.jpg" />
                </span>
                <span class="m-t-xs">
                    <strong class="font-bold">David Williams</strong>
                </span>
            </div> -->
        </li>
        <li>
            <a href="/logout">
                <i class="fa fa-sign-out"></i> Log out
            </a>
        </li>
    </ul>
</nav>

<router-outlet></router-outlet>