<div class="wrapper wrapper-content">
    <div class="row">
        <div class="ibox">
            <div class="ibox-title">
                <h3>Suites</h3>
            </div>
            <div class="ibox-content">
                <a *ngIf="suites.length < 1" [routerLink]="['CreateSuite']">Create suite</a>
                
                <table *ngIf="suites.length > 0" class="table table-hover">
                  <thead>
                      <tr>
                          <th>Suite name</th>
                          <th>Last run</th>
                          <th>Last updated</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let suite of suites">
                        <td>
                            <p>
                                <a *ngIf="suite.state === 'Ready'" [routerLink]="['SuiteDetails', {suiteId: suite.id}]">{{suite.name}}</a>
                                <span *ngIf="suite.state !== 'Ready'"><strong>{{suite.name}}</strong></span>
                            </p>
                            <p>More than {{suite.usagePercentage}}% of the sessions
                                <button type="button" class="btn btn-default btn-circle" data-toggle="tooltip" data-placement="right" title="" data-original-title="The scenarios in this suite cover functionality that is used by more than the given percentage of all sessions.">
                                    <i class="fa fa-question-circle fa-sm"></i>
                                </button>
                            </p>

                            <div *ngIf="suite.state === 'Deleted'" class="alert alert-danger">Will be deleted.</div>
                        </td>
                        <td>
                            <div *ngIf="suite.lastRun">
                                <p><span class="failed">{{suite.lastRun.failed}}</span> / <span class="passed">{{suite.lastRun.passed}}</span></p>
                                <p>{{suite.lastRun.started | date:'medium'}}</p>
                            </div>
                        </td> 
                        <td>
                            <span *ngIf="suite.lastUpdated">{{ suite.lastUpdated | date:'medium' }}</span>
                            <span *ngIf="!suite.lastUpdated">Not yet updated</span>
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


