<div class="row border-bottom white-bg dashboard-header">
    <div class="row" style="font-size: 16px">
        <div class="col-sm-3">
            <h3>{{suite?.name}}</h3>
            <p>More than {{suite?.usagePercentage}}% of the sessions</p>
        </div>
        <div class="col-sm-3">
            <dl>
                <dt class="m-b-md">Last run</dt>
                <dd>
                    <div *ngIf="suite?.lastRun">
                        <p>
                            <span class="failed">{{suite?.lastRun.failed}}</span> / <span class="passed">{{suite?.lastRun.passed}}</span>
                            <span [ngClass]="{'failed-icon': suite?.lastRun?.failed > 0, 'passed-icon': tsuite?.lastRun?.failed === 0, 'm-l-sm': true}"></span>
                        </p>
                        <p>{{suite?.lastRun.started | date:'medium'}}</p>
                    </div>
                </dd>
            </dl>
        </div>
        <div class="col-sm-3">
            <dl>
                <dt class="m-b-md">Last updated</dt>
                <dd>
                    <span *ngIf="suite?.lastUpdated">{{ suite?.lastUpdated | date:'medium' }}</span>
                    <span *ngIf="!suite?.lastUpdated">Not yet updated</span>
                </dd>
            </dl>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-w-m btn-info" (click)="generateScenarios()" data-original-title="The scenarios are regularly updated on a specific interval. Use this button to update them now." data-placement="right" data-toggle="tooltip" title="" type="button">
                Generate tests <i class="fa fa-question-circle fa-sm"></i>
            </button>

            <button class="btn btn-danger pull-right" (click)="deleteSuite()">Delete</button>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <scenarios-list></scenarios-list>
    </div>
</div>