<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-title">
                <h3>Create suite</h3>
            </div>
            <div class="ibox">
                <div class="ibox-content">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-4">
                                <input [(ngModel)]="suite.name" type="text" class="form-control">
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Sessions percentage</label>
                            <div class="col-sm-4">
                                <input [(ngModel)]="suite.usagePercentage" type="number" required="true" class="form-control">
                                <span class="help-block m-b-none">Cover functionality used in more than the given percent of sessions.</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary" (click)="create()">Create</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>