<div class="row border-bottom white-bg dashboard-header">
    <div *ngIf="!loading" class="row" style="font-size: 16px">
        <div class="col-xs-2">
            <h3>Scenario details</h3>
        </div>
        <div class="col-xs-2">
            <dl>
                <dt>Steps: </dt>
                <dd>{{scenario?.steps?.length}}</dd>
            </dl>
        </div>
        <div class="col-xs-4">
            <dl>
                <dt>Last runs</dt>
                <dd>
                    <scenario-last-results [appId]="scenario?.appId" [scenarioId]="scenario?.scenarioId" [limit]="5"></scenario-last-results>
                </dd>
            </dl>
        </div>
        <div *ngIf="!scenario?.ignored" class="col-xs-2">
            <button class="btn btn-w-m btn-info pull-right" (click)="ignoreScenario()">Ignore</button>
        </div>
        <div *ngIf="scenario?.ignored" class="col-xs-2">
            <button class="btn btn-w-m btn-info pull-right" (click)="unignoreScenario()">Unignore</button>
        </div>
        <div *ngIf="scenario?.state!=='Deleted'" class="col-xs-2">
            <button class="btn btn-w-m btn-danger pull-right" (click)="deleteScenario()">Delete</button>
        </div>
    </div>
    <div *ngIf="scenario?.ignored" class="alert alert-info row">This scenario is ignored.</div>
    <div *ngIf="scenario?.state === 'Deleted'" class="alert alert-danger row">Will be deleted.</div>
    <div *ngIf="loading" class="row">
        <span>Loading...</span>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="ibox">
        <div class="ibox-title"><h4>Steps</h4></div>
        <div class="ibox-content">
            <dl class="dl-horizontal">
                <div *ngFor="let step of scenario?.steps" class="m-b-xs">
                    <dt>{{step.type}}</dt> <dd>{{step.targetSelector}}</dd>
                </div>
            </dl>
        </div>
    </div>
</div>


<!-- <a href="http://usabilitics.com/test-editor">Test editor</a> -->