<div class="row">
      <div class="col-lg-12">
          <div class="ibox-title">
              <h3>Scenarios</h3>
          </div>
          <div class="ibox">
              <div class="ibox-content">
                <table class="table table-hover">
                  <thead>
                      <tr>
                          <th>Test description</th>
                          <th>Last runs</th>
                          <th>Steps</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let scenario of scenarios">
                        <td>
                          <a class="m-l-xl" style="width: 100%; color: inherit" [routerLink]="['ScenarioDetails', {suiteId: suiteId, scenarioId: scenario.scenarioId}]">
                              <p><strong>{{scenario.name}}</strong></p>
                              <ul class="unstyled">
                                  <li *ngFor="let step of scenario.steps | truncateList:5">
                                      <span>{{step.type}} </span><span>{{step.targetSelector}}</span>
                                  </li>
                              </ul>
                              <p class="m-l-xl"><i class="fa fa-ellipsis-h"></i></p>
                          </a>
                          <div *ngIf="scenario.state === 'Deleted'" class="alert alert-danger">Will be deleted.</div>
                        </td>
                        <td>
                            <scenario-last-results [appId]="scenario.appId" [scenarioId]="scenario.scenarioId" [limit]="5"></scenario-last-results>
                        </td> 
                        <td>{{scenario.steps.length}}</td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>