<div class="ibox">
    <div class="ibox-title">
        <h4 *ngIf="baseStep?.isBaseline">Expected</h4>
        <dl class="dl-horizontal">
            <dt>{{mutation.type}}</dt>
            <dd>{{mutation.mutatedElementSelector}}</dd>

            <dt>Container element</dt>
            <dd>{{mutation.targetSelector}}</dd>
        </dl>
        <div class="ibox-tools">
            <div *ngIf="issue && !issue?.verification">
                <button class="btn btn-primary" (click)="approve()">Approve</button>
                <button class="btn btn-danger">Bug</button>
            </div>
            <div *ngIf="issue?.verification">
                <div [ngClass]="{alert: true, 'alert-success': issue?.verification === 'Approved', 'alert-danger': issue?.verification === 'Bug'}">{{issue?.verification}}</div>
            </div>
        </div>
    </div>

    <div class="ibox-content">
        <div class="ua-diff-view" *ngIf="mutation.changes?.length > 0">
            <div [class]="(line.wrapperClass || '') + ' diff'" *ngFor="let line of parsedLines">
            <pre [attr.data-toggle]="line.changes ? 'popover': ''" data-trigger="focus" [attr.data-content]="line.changes" [innerHTML]="line.lineText">
            </pre>
            </div>
        </div>
        <p *ngIf="mutation.changes?.length === 0">No changes</p>
    </div>
</div>