<div class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Test results</h5>
        </div>
        <div class="ibox-content">
          <table class="table table-striped table-hover" id="testResultsTable">
            <thead>
                <tr>
                    <th>Suites</th>
                    <th>Status</th>
                    <th></th>
                    <th>Started</th>
                    <th>Ended</th>
                    <th>Started by:</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let result of testResults">
                  <td><a [routerLink]="['TestResultsDetails', {runId: result.runId}]">All</a></td>
                  <td>
                      <span class="failed">{{result.failed}}</span> / <span class="passed">{{result.passed}}</span>
                  </td>
                  <td><span [ngClass]="{'failed-icon': result.failed > 0, 'passed-icon': result.failed === 0}"></span></td>
                  <td>{{result.started | date:'medium'}}</td>
                  <td>{{result.ended | date:'medium'}}</td>
                  <td>{{result.machineName}}</td>
                </tr>
            </tbody>
          </table>
        </div>
    </div>
</div>