<div *ngIf="!loadingStats" class="row border-bottom white-bg dashboard-header">
    <div class="col-md-2">
        <dl class="dl-vertical" style="font-size: 16px">
            <dt class="m-b-md">{{scenarioResult?.title}}</dt>
        </dl>
    </div>
    <div class="col-md-2">
        <dl class="dl-vertical" style="font-size: 16px">
        <dt class="m-b-md">Status</dt><dd><span [ngClass]="{'failed-icon': scenarioResult?.status === 'failed', 'passed-icon': scenarioResult?.status === 'passed', 'm-l-md': true}"></span></dd>
    </dl>
    </div>
    <div class="col-md-3">
        <dl class="dl-vertical" style="font-size: 16px">
            <dt class="m-b-md">Last runs</dt>
            <dd>
                <scenario-last-results [appId]="appId" [scenarioId]="scenarioResult?.scenarioId" [limit]="5"></scenario-last-results>
            </dd>
        </dl>
    </div>
    <div class="col-md-2">
        <dl class="dl-vertical" style="font-size: 16px">
            <dt class="m-b-md">Started by</dt><dd class="m-b-xs">{{scenarioResult?.machineName}}</dd>
        </dl>
    </div>
    <div class="col-md-3">
        <dl class="dl-vertical" style="font-size: 16px">
            <dt>Started</dt><dd class="m-b-xs">{{scenarioResult?.started | date:'medium'}}</dd>
            <dt>Ended</dt><dd class="m-b-xs">{{scenarioResult?.ended | date:'medium'}}</dd>
            <dt>Duration</dt><dd class="m-b-xs">{{scenarioResult?.duration}} seconds</dd>
        </dl>
    </div>
</div>

<div *ngIf="loadingStats" class="row border-bottom white-bg dashboard-header">
    <div class="col-md-3">
        <p>Loading...</p>
    </div>
</div>


<router-outlet></router-outlet>