<div *ngIf="testsResults?.length > 0" style="min-width: 200px">
    <small *ngIf="testsResults?.length > 1" class="text-muted pull-left">Old</small>
    <a *ngFor="let testsResult of testsResults" href="#/{{appId}}/test-results/{{testsResult.runId}}/scenario/{{testsResult.scenarios[0].scenarioId}}/">
        <span [ngClass]="{'failed-icon': testsResult.scenarios[0].status === 'failed', 'passed-icon': testsResult.scenarios[0].status === 'passed', 'm-l-sm': true, 'pull-left': true}"
        title="Started: {{testsResult.started | date:'medium'}}">
        </span>
    </a>
    <small *ngIf="testsResults?.length > 1" class="text-muted pull-left m-l-sm">New</small>
</div>

<div *ngIf="testsResults?.length === 0" style="min-width: 200px">
    <span>None</span>
</div>