<div class="wrapper wrapper-content">
    <div class="ibox">
        <div class="ibox-title"><h4>Steps</h4></div>
        <div class="ibox-content">
            <div class="row" *ngFor="let step of steps">
                <div class="col-xs-1">
                    <span [ngClass]="{'failed-icon': step.status === 'failed', 'passed-icon': step.status === 'passed'}"></span>
                </div>
                <div class="col-xs-6"><span>{{step.type}} </span><span>{{step.targetSelector}}</span></div>
                <div class="col-xs-1">
                    <a class="btn btn-default" [routerLink]="['ScenarioResultStepDetails', {stepId: step.stepId}]" *ngIf="step.status === 'failed'">Details</a>
                </div>
            </div>
        </div>
    </div>
</div>