<div class="row border-bottom white-bg dashboard-header">
    <ol class="breadcrumb">
        <li>
            <a [routerLink]="['ScenarioResultSteps']">Steps</a>
        </li>
        <li class="active">
            <strong>Step details</strong>
        </li>
    </ol>
    <h3>{{step?.type}} {{step?.targetSelector}}</h3>
</div>
<div class="wrapper wrapper-content">
    <div class="ibox">
        <div class="ibox-title"><h4>Errors</h4></div>
        <div class="ibox-content">
            <div class="row m-b-md" *ngFor="let error of step?.errors">
                <div>{{error}}</div>
            </div>
        </div>
    </div>

    <div *ngFor="let mutation of baseStep?.mutations">
        <added-html-mutation *ngIf="mutation.type === 'Added'" [mutation]="mutation" [executedStep]="step" [baseStep]="baseStep"></added-html-mutation>

        <removed-html-mutation *ngIf="mutation.type === 'Removed'" [mutation]="mutation" [executedStep]="step" [baseStep]="baseStep"></removed-html-mutation>
    </div>

    <div *ngFor="let mutation of step?.mutations">
        <added-html-mutation *ngIf="mutation.type === 'Added'" [mutation]="mutation" [executedStep]="step"></added-html-mutation>

        <removed-html-mutation *ngIf="mutation.type === 'Removed'" [mutation]="mutation" [executedStep]="step"></removed-html-mutation>
    </div>
</div>