<div class="row  border-bottom white-bg dashboard-header">
    <div class="col-xs-5">
    <dl class="dl-horizontal" style="font-size: 16px">
        <dt>Started:</dt> <dd>{{testResults?.started | date:'medium'}}</dd>
        <dt>Ended:</dt> <dd>{{testResults?.ended | date:'medium'}}</dd>
        <dt>Started by:</dt> <dd>{{testResults?.machineName}}</dd>
    </dl>
    </div>

    <div class="col-xs-4">
    <dl class="dl-horizontal" style="font-size: 16px">
        <dt>Result:</dt> <dd><span class="failed">{{testResults?.failed}}</span> / <span class="passsed">{{testResults?.passed}}</span>
        <span [ngClass]="{'failed-icon': testResults?.failed > 0, 'passed-icon': testResults?.failed === 0, 'm-l-sm': true}"></span></dd>
    </dl>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="ibox">
        <div class="ibox-title"><h3>Scenarios</h3></div>
        <div class="ibox-content">
            <table class="table table-hover">
              <tr>
                  <th>Name</th>
                  <th>Status</th>
                  <th>Last runs</th>
              </tr>
              <tr *ngFor="let scenarioResult of testResults?.scenarios">
                <td style="min-width: 150px">
                    <a [routerLink]="['ScenarioResultDetails', {runId: testResults?.runId, scenarioId: scenarioResult.scenarioId}]">
                        {{scenarioResult.title}}
                    </a>
                </td>
                <td>
                    <div class="pull-left" style="padding-left: 20px">
                        <span [ngClass]="{'failed-icon': scenarioResult.status === 'failed', 'passed-icon': scenarioResult.status === 'passed'}"></span>
                    </div>
                    <div class="pull-left" *ngIf="scenarioResult.status === 'failed'">
                        <span><strong>Error message:</strong></span>
                        <p>{{scenarioResult.message}}</p>
                    </div>
                </td>
                <td style="min-width: 250px">
                    <scenario-last-results [appId]="appId" [scenarioId]="scenarioResult.scenarioId" [limit]="5"></scenario-last-results>
                </td>
              </tr>
            </table>
        </div>
    </div>
</div>