<div *ngIf="!loading">
    <div *ngFor="let requirement of requirements">
        <test-data-requirement [requirement]="requirement"></test-data-requirement>
    </div>
</div>

<div *ngIf="requirements && requirements.length === 0 && !loading">
    <p>No requirements found.</p>
</div>

<div *ngIf="loading">Loading...</div>