<div class="ibox">
    <div class="ibox-content">
        <div class="row m-b">
            <div class="col-md-2">
                <strong>Selector: </strong>
            </div>
            <div class="col-md-10">
                <span>{{requirement.targetSelector}}</span>
            </div>
        </div>
        <div class="row m-b">
            <div class="col-md-2">
                <strong>Html: </strong></div>
            <div class="col-md-10">
                <span>{{requirement.targetOuterHTML}}</span>
            </div>
        </div>
        <div class="row m-b">
            <div class="col-md-2">
                <strong>Input data type: </strong>
            </div>
            <div class="col-md-10">
                <span>{{requirement.inputType}}</span>
            </div>
        </div>
        <div class="row m-b">
            <div class="col-md-2">
                <strong>When: </strong>
            </div>
            <div class="col-md-10">
                <span>{{requirement.type}}</span>
            </div>
        </div>

        <div class="row m-b">
            <div class="col-md-2">
                <label for="requiresDataCheckbox"><strong>Requires data:</strong></label>
            </div>
            <div class="col-md-10">
                <input id="requiresDataCheckbox" type="checkbox" [(ngModel)]="requirement.requiresData" (click)="requiredEdit = true">
            </div>
        </div>

        <div class="row m-b" *ngIf="requirement.requiresData">
            <div class="col-md-2">
                <strong>Test data: </strong>
            </div>
            <div class="col-md-10">
                <div *ngIf="!editting">
                    <span *ngIf="!requirement.testData">No data available</span>
                    <div class="well well-sm">
                        <span>{{requirement.testData}}</span>
                    </div>
                    <input class="btn btn-default" type="button" value="Change" (click)="editting = true">
                </div>
                <div *ngIf="editting">
                    <input class="form-control m-b" type="text" [(ngModel)]="requirement.testData">
                </div>
            </div>
        </div>

        <input type="button" *ngIf="requiredEdit || editting" class="btn btn-primary" value="Save" (click)="saveTestData(); editting = false">

        <div *ngIf="status" class="alert alert-info m-t">{{status}}</div>
        <p *ngIf="loading">Loading...</p>
    </div>
</div>
