<div class="row border-bottom white-bg dashboard-header" >
    <h3>Test data</h3>

    <p>You will see every place where your users enter data to interact with your application.</p>
    <p>You have to enter test data that will be used by the automation framework to simulate the user's behaviour.<p>
    <p><b>Example: </b> <span>Enter a test account's login credentials to the input fields that represent the login form.</span></p>

    <button class="btn btn-w-m btn-info" (click)="checkForRequirements()">Check</button>
    <div class="alert alert-info" *ngIf="analyzing">The updated requirements will be available soon...</div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <test-data-requirements></test-data-requirements>
    </div>
</div>