<div class="ibox">
    <div class="ibox-title">
        <h3>Generate access token</h3>
    </div>
    <div class="ibox-content">
        <p>This token has limited permissions and you can use it only to run tests with the Usabilitics command line application.</p>
        <p>You will be able to see it only once.</p>
        <p>All previous tokens will stop working.</p>

        <button class="btn btn-w-m btn-primary" (click)="generateToken()">Generate token</button>

        <span *ngIf="generated">Your token is:</span>
        <code>{{currentToken}}</code>
    </div>
</div>