<div class="wrapper wrapper-content">
    <div class="ibox">
        <div class="ibox-title">
            <h3>Tracking code</h3>
        </div>
        <div class="ibox-content">
            <p>Insert this javascript code in the Head tag or in the beginning of the Body tag of the pages that you want to track.</p>

            <pre>
&lt;script type="text/javascript"&gt;
    var usabiliticsSettings = {
        appId: '{{app?.id}}',
        visitedTimestamp: Date.now()
    };
    (function() {
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'https://s3-us-west-1.amazonaws.com/test-bot-tracker/test-bot-tracker.local.js';
        document.getElementsByTagName('head')[0].appendChild(s);
    })();
&lt;/script&gt;</pre>
        </div>
    </div>

    <div *ngIf="!loading">
        <div class="ibox" *ngIf="app.state !== 'Ready'">
            <div class="ibox-content">
                <p>Some of the settings will be available in a few moments.</p>
            </div>
        </div>

        <div *ngIf="app.state === 'Ready'">
            <div class="ibox">
                <div class="ibox-title">
                    <h3>Process the new sessions of your users and update the available data</h3>
                </div>
                <div class="ibox-content">
                    <div *ngIf="updatingData">
                        Requesting an update...
                    </div>
                    <div *ngIf="!updatingData">
                        <p *ngIf="lastTimeDataUpdated">
                            Last time updated: {{lastTimeDataUpdated ? (lastTimeDataUpdated | date: 'hh:mm dd MM yyyy') : ''}}
                        </p>
                        <p *ngIf="!lastTimeDataUpdated">Not updated yet</p>
                        <button class="btn btn-w-m btn-primary" (click)="updateSessionsData()">Update now</button>
                        <p>{{dataStateInfo}}</p>
                    </div>
                </div>
            </div>
            <access-tokens></access-tokens>
        </div>
    </div>

    <div class="ibox">
        <div class="ibox-title">
            <h3>Delete application</h3>
        </div>
        <div class="ibox-content">
            <p>All recorded users' data will be deleted as well as scenarios and results information.</p>
            <button class="btn btn-w-m btn-danger" (click)="deleteApplication()">Delete</button>
        </div>
    </div>

    <div class="ibox" *ngIf="loading">
        <div class="ibox-content">Loading...</div>
    </div>
</div>