<side-menu [app]="app"></side-menu>

<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="row  border-bottom white-bg dashboard-header">
        <div class="col-sm-12">
            <breadcrumb></breadcrumb>

            <div *ngIf="!loading">
                <p *ngIf="app.state !== 'Ready'">The app should be ready in a few moments.</p>

                <div *ngIf="app.state === 'Ready'">
                    
                </div>
            </div>
            <div *ngIf="loading">Loading...</div>
        </div>
    </div>
    <div >
        <router-outlet></router-outlet>
        <div class="footer">
            <div>
                <strong>Copyright</strong> Usabilitics &copy; 2015-2016
            </div>
        </div>
    </div>
</div>