<div id="page-wrapper" class="gray-bg dashbard-1" style="margin-left: 0">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox-title">
                    <h3>Add new application</h3>
                </div>
                <div class="ibox">
                    <div class="ibox-content">
                        <form class="form-horizontal" (ngSubmit)="upsert()" #appForm="ngForm">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control"
                                      [(ngModel)]="model.name"
                                      ngControl="name"
                                      #name="ngForm" required="true">
                                      <!-- <div [hidden]="name.valid" class="alert alert-danger">
                                          Name is required
                                      </div> -->
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Application url</label>
                                <div class="col-sm-4">
                                    <input type="url" class="form-control"
                                        [(ngModel)]="model.url"
                                        ngControl="url"
                                        #url="ngForm" required="true">
                                    <!-- <div [hidden]="url.valid" class="alert alert-danger">
                                        Url is required
                                    </div> -->
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="submit">Add</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>