<div id="page-wrapper" class="gray-bg dashbard-1" style="margin-left: 0">
    <div class="wrapper wrapper-content">
        <div class="row">
            <h2>Applications</h2>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="ibox" style="margin-bottom: 0">
                    <div class="ibox-content">
                        <a [routerLink]="['AddApp']"><i class="fa fa-plus fa-4x"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3" *ngFor="let app of apps">
                <div class="ibox">
                    <div class="ibox-content">
                        <h3>
                            <a [routerLink]="['AppDetails', {appId: app.id}]">{{app.name}}</a>
                        </h3>
                        <a [href]="app.url">{{app.url}}</a>
                        <div *ngIf="app.state === 'Deleted'" class="alert alert-danger">Will be deleted.</div>
                    <div>
                </div>
            </div>
        </div>
    </div>
</div>